@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@300&display=swap');

body {
    background: linear-gradient(120deg, #73A9AD, #7D8F69);
    color: black;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    text-align: center;
}

.profile-picture {
    height: 150px;
    width: auto;
    border-radius: 25px;
}

.login-create {
    text-align: right;
}

#login-button {
    border: none;
    outline: none;
    margin: 5px;
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 100px;
    width: 25%;
}

#login-button-guest {
    border: none;
    outline: none;
    margin: 5px;
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 100px;
    width: 25%;
}

#top {
    text-align: center;
}

#index-title {
    text-align: center;   
}

.links {
    top: 0%;
    right: 5%;
    color: black;
    text-decoration: none;

}
#login-link {
    color: #7D8F69 ;
}

#mhealth-button {
    color: #9F8772;
    background-color: #7D8F69;
}


#index-links {
    position: absolute;
    top: 0%;
    right: 5%;
    color: black;
}

#login-button {
    color: black;
    text-decoration: none;
}

#ahc-link {
    text-decoration: none;
    color: black;

}

#regi-button {
    border: none;
    outline: none;
    margin: 5px;
    padding: 1rem 1.5rem;
    background: rgba(255, 255, 255, .3);
    border-radius: 100px;
    width: 25%;
    
}

.regy-card {
    display: block;
    align-items: center;
    color: black;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
}

#regy-body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(120deg, #73A9AD, #7D8F69);
    height: 100vh;
    overflow: hidden;
    border: none;
    outline: none;
    padding: 1rem, 1.5rem;
    width: 100%;
}

.regy-card-f {
    border: none;
    outline: none;
    margin: 5px;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* useful links styles */

.animate__animated {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.linkimg {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.usefulimg {
    width: 350px;
    height: 350px;
    margin: 10px;
  }

figcaption {
    display: flex;
    justify-content: center;
    margin: 10px
  }


.coverimg {
    height: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-bottom: 2%;
    }

.indextitle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    }

#user-links {
    align-items: center;
    text-align: center;
    outline-offset: 1px;
    outline-width: 5px;
}


.user-page-links {
    align-items: center;
    text-align: center;
    display: block;
    justify-content: left;
}

.btn {
    font-family: "Roboto" sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #73A9AD;
    width: 100px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-remove {
    font-family: "Roboto" sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #9a3400;
    width: 100px;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transform-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.page-header {
    background-color: #D3D3D3;
    color: #9F8772;
    outline: auto;
    outline-color: #7D8F69;
}
