<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <h1>Add A New Physical Health Goal</h1>
        <div>
            <form method = "POST" action = "/add-physical-goal">
                <h3> Details of Your Goal </h3>
                <input type = "text" placeHolder = "Name your goal" name= "goal" />
                <input type = "text" placeHolder = "Describe your goal" name = "description" />
                <button>Add Goal</button>
            </form>
        </div>
        <div id="add-phy-goal">
            <a href="/phealth"><h2>View Physical Goals</h2> 
        </div>

    </body>



</html>