<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="page-header">
            <h1>Add A New Physical Health Goal</h1>
        </div>
        <div class="add-user-form">

            <form method = "POST" action = "/add-physical-goal">
                <h3> Details of Your Goal </h3>
                <div class = 'goal-name'>
                <textarea required class='goal-name-box' type = "text" placeHolder = "Name your goal" name= "goal" ></textarea>
                </div>
                <div class ='goal-detail'>
                <textarea required class='goal-detail-box' type = "text" placeHolder = "Describe your goal" name = "description" ></textarea>
                </div>
                <button class="btn">Add Goal</button>

            </form>
        </div>
    <a href="/user">
      <div>
        <button class="btn-goback">Home</button>
      </div>
    </a>
    <a href="/logout">
      <div>
        <button class="btn-logout">Log Out</button>
      </div>
    </a>


<div class="footer2">
    <p> &copy; 2022 HealthyMe. All rights reserved</p>
</div>

    </body>



</html>