<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div id="add-header">
            <h1>Add A New Long Term Goal</h1>
        </div>
        <div class="add-user-form">
            <form method = "POST" action = "/add-user-goal">
                <h3> Details of Your Goal </h3>
                <input type = "text" placeHolder = "Name your goal" name= "goal" />
                <input type = "text" placeHolder = "Describe your goal" name = "description" />
                <button class="btn">Add Goal</button>
            </form>
        </div>
    </body>

    <a href="/user-goals"><h2>View Long Term Goals</h2> 



</html>