<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <h1>Add A New Long Term Goal</h1>
        <div>
            <form method = "POST" action = "/add-mhealth">
                <h3> Details of Your Goal </h3>
                <input required type = "text" placeHolder = "Name your goal" name= "goal" />
                <input required type = "text" placeHolder = "Describe your goal" name = "description" />
                <button id="mhealth-button">Add Goal</button>
            </form>
        </div>
        <div id="add-mhealth-links">
            <a href="/user-goals"><h2>View Long Term Goals</h2> 
        </div>
    </body>



</html>