<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="page-header">
    <h1>Welcome to Healthy Me!</h1>
  </div>
  <div>
    <img class="coverimg" src="/uploads/emma-simpson-mNGaaLeWEp0-unsplash.jpg" alt="">
  </div>
  
  <h3 class="indextitle" >Build a better you by setting goals to balance your life.</h3>


    <a href="/login">
      <div>
        <button class="btn-login">Login</button>
      </div>
    </a>
    <a href="/register">
      <div>
        <button class="btn-regy">Register</button>
      </div>
    </a>

</body>

</html>