<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="index-head">
    <h1 id="index-title">Home Page</h1>
    <h1>Welcome to Healthy Me!</h1>
    <p>Build a better you by setting goals to balance your life.</p>
  </div>
  <div id="index-links">
    <a href="/login"><p>Login</p></a>
    <a href="/register"><p>Register</p></a>
  </div>
</body>

</html>