<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="index-head">
    <h1 id="index-title" >Welcome to Healthy Me!</h1>
    <img class="coverimg" src="/uploads/emma-simpson-mNGaaLeWEp0-unsplash.jpg" alt="">
  </div>
  
  <h3 class="indextitle" >Build a better you by setting goals to balance your life</h3>

 

  <div id="index-links">
    <a href="/login"><p>Login</p></a>
    <a href="/register"><p>Register</p></a>
  </div>
</body>

</html>