<h1> Login Screen </h1>

                                                               
<form method="POST" action="/login">
    <input type="text" placeHolder="Enter username" name="username" />
    <input type="password" placeholder="Enter password" name="password" />
    <button>Login</button>
</form>

<a href="/register"><p>First Time User? Register Here</p></a>


{{errorMessage}}
