<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Login</title>
</head>
<body>
    <div class="lr-page">
        <h1 class='login-header'> Login </h1>
    </div>
    <div>
        <form method="POST" action="/login">
            <input required minlength="1" class="regy-card-f" type="text" placeholder="Enter username" name="username" />
            <br>
            <input required minlength="6" maxlength="12" class="regy-card-f" type="password" placeholder="Enter password" name="password" />
            <br>
            <button id="login-button">Login</button>
        </form>
        {{errorMessage}}
    </div>
     
    <form method="POST" action="/login-guest">
        <input type="hidden" value="guest" name="usernameGuest">
        <input type="hidden" value="123456" name="passwordGuest">
        <button id="login-button-guest">Guest Login</button>
    </form>
 
        <a class="links" href="/register">Don't Have an account? Click Here!</a>




</body>


</html>
