<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="page-header">
      <h1>Mental Wellbeing Goals and Comments</h1>
    </div>
    <div>
        {{#mentalGoals}}
        <form method="POST" action="/delete-mhealth">
        <div class='goal-container'>
        <p class = 'goal-header'>{{goal}}</p>
        <p class = 'goal-description-text'>{{description}}</p>
        </div>
        <button class="btn-remove">Delete Goal</button>
        <input type="hidden" name="goalId" value={{id}} />
        </form>
        {{#notes}}
        {{body}}
        <form method="POST" action="/delete-note-mental">
            <input type="hidden" value={{id}} name="id" />
            <button class="btn-remove">Remove Note</button>
        </form>
        {{/notes}}
        <form method="POST" action="/add-note-mental">
            <input required type="text" placeholder="Add note here" name="note" />
            <input type="hidden" name="id" value={{id}} />
            <button class="btn">Add Note</button>
        </form>

        {{/mentalGoals}}
    
    </div>

    <div id="mhealth-links">
      <a href="/add-mhealth"><h2 class = 'add-goal-footer'>Add a Mental Health Goal</h2></a>
      <a href="/user"><h3>User Profile</h3></a>
      <a href= "/logout"><p>Logout</p></a>
    </div>
    <a href="/user">
      <div>
        <button class="btn-goback">Go Back</button>
      </div>
    </a>

  </body>
</html>