<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  
  <body>
    <div class="page-header">
      <h1> Physical Wellbeing Goals and Comments</h1>
    </div>
    <div>   
      {{#physicalGoals}}
      <form method="POST" action="/delete-physical-goal">
      <div class='goal-container'>
      <p class ='goal-header'>{{goal}}</p>
      <p class ='goal-description-text'>{{description}}</p>
      </div>
      <button class="btn-remove">Delete Goal</button>
      <input type="hidden" name="physicalId" value={{id}} />
      </form>
      {{#notes}}
      {{body}}
      <form method="POST" action="/delete-note-physical">
          <input type="hidden" value={{id}} name="id" />
          <button class="btn-remove">Remove Note</button>
      </form>
      {{/notes}}
      <form method="POST" action="/add-note-physical">
          <input required type="text" placeholder="Add note here" name="note" />
          <input type="hidden" name="id" value={{id}} />
          <button class="btn">Add Note</button>
      </form>

      {{/physicalGoals}}
     
    </div>
    <div id="phealth-links">
      <a href="/add-physical-goal"><h2 class='add-goal-footer'>Add a Physical Wellbeing Goal</h2></a>
    </div>

    <a href="/user">
      <div>
        <button class="btn-goback">Home</button>
      </div>
    </a>
    <a href="/logout">
      <div>
        <button class="btn-logout">Log Out</button>
      </div>
    </a>


<div class="footer2">
    <p> &copy; 2022 HealthyMe. All rights reserved</p>
</div>


    </body>


</html>