<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registration</title>
</head>
<body>
    <h1> Registration Page </h1>
    <form method="POST" action="/register">
        <label>Username:</label>
        <input required minlength="1" type="text" placeholder="Enter username" name="username" />
        <br>
        <label>Password:</label>
        <input required minlength="6" maxlength="12" type="password" placeholder="Enter password" name="password" />
        <br>
        <label>First Name:</label>
        <input required type="text" placeholder="Enter first name" name="firstName" />
        <br>
        <label>Last Name:</label>
        <input required type="text" placeholder="Enter last name" name="lastName" />
        <br>
        <button>Register</button>
    </form>
    {{errorMessage}}
    <div id="reg-login-link">
        <p>Already have an account? 
            <a href="/login">Click Here</a>
        </p>
    </div>

</body>
</html>