<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Registration</title>
</head>
<body>
    <div class="lr-page">
        <h1 class='reg-header'> Create an Account With Us </h1>
    </div>
    <form class="regy-card" method="POST" action="/register">
        <label class="regy-l"></label>
        <input class="regy-card-f"  required minlength="1" type="text" placeholder="Enter username" name="username" />
        <br>
        <label class="regy-l"></label>
        <input class="regy-card-f"  required minlength="6" maxlength="12" type="password" placeholder="Enter password" name="password" />
        <br>
        <label class="regy-l"></label>
        <input class="regy-card-f"  required type="text" placeholder="Enter first name" name="firstName" />
        <br>
        <label class="regy-"></label>
        <input class="regy-card-f" required type="text" placeholder="Enter last name" name="lastName" />
        <br>
        <button id="regi-button">Register</button>
    </form>
    {{errorMessage}}
   
        
    <a class="links" href="/login">Already have an account? Click Here!</a>
        
    

<div class="footer2">
    <p> &copy; 2022 HealthyMe. All rights reserved</p>
</div>


</body>


</html>