<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>


<body>

<h1 class="animate__animated animate__fadeInDown"> Useful Links and Resources </h1>


<div class='linkimg' id="useful-links">
    <a href="https://www.health.harvard.edu/mens-health/an-easier-way-to-set-and-achieve-health-goals"> <img class= 'usefulimg' src="/uploads/1-10.png" alt="">
        <figcaption>Tips for Setting Health Goals</figcaption></a>
    <a href="https://www.peacehealth.org/healthy-you/5-tips-setting-realistic-health-goals"> <img class= 'usefulimg' src="/uploads/set_health_goal_tips_2x.jpg" alt="">
        <figcaption>More Tips for Setting Health Goals</figcaption></a>
    <a href="https://examples.yourdictionary.com/15-personal-health-goal-examples-within-your-reach.html"> <img class= 'usefulimg' src="/uploads/alexander-redl-d3bYmnZ0ank-unsplash.jpg" alt="">
        <figcaption>Physical Health Goal Examples to Try for Yourself</figcaption></a>
    <a href="https://oregoncounseling.com/article/how-to-set-mental-health-goals-for-2021/"> <img class= 'usefulimg' src="/uploads/jared-rice-NTyBbu66_SI-unsplash.jpg" alt="">
        <figcaption>Mental Health Goal Examples to Try for Yourself</figcaption></a>
</div>

<div id="useful-user-links">
    <a href= "/user"><p>Home</p></a>
    <a href= "/logout"><p>Logout</p></a>

</div>

    
</body>

</html>