<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>


<body>

<h1> Useful Links and Resources </h1>



<a href="https://www.health.harvard.edu/mens-health/an-easier-way-to-set-and-achieve-health-goals"><h2>Tips for Setting Health Goals</h2></a>
<a href="https://www.peacehealth.org/healthy-you/5-tips-setting-realistic-health-goals"><h2>More Tips for Setting Health Goals</h2></a>
<a href="https://examples.yourdictionary.com/15-personal-health-goal-examples-within-your-reach.html"><h2>Physical Health Goal Examples to Try for Yourself</h2></a>
<a href="https://oregoncounseling.com/article/how-to-set-mental-health-goals-for-2021/"><h2>Mental Health Goal Examples to Try for Yourself</h2></a>

<a href= "/user"><p>Home</p></a>
<a href= "/logout"><p>Logout</p></a>

    
</body>

</html>