<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>


<body>

<h1> Main User Interface To See Big Picture </h1>

<form action="/upload" method="POST" enctype="multipart/form-data">
    <label>Profile Picture</label>
    <input type="file" name="photo"/>
    <button type="submit">Upload Profile Picture</button>
</form>

<img src = "{{imageURL}}" class = "{{className}}" />

<a href="/user-goals"><h2>Long Term Goals</h2>

</body>

</html>