<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
</head>


<body>
    <div class="page-header">
        <h1 class='user-header'> A Healthy You  </h1>
        <img src ="{{imageURL}}" class = "{{className}}" />
        <h2 class ='user-header2'> Starts Here </h2>
        
        <h3>Welcome, {{firstname}} {{lastname}}</h3>
    </div>
<div>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Profile Picture</label>
        <input type="file" name="photo"/>
        <button class="btn" type="submit">Upload Picture</button>
    </form>
</div>


</div>
<div class="home-links">

    <a href="/user-goals">
        <div class="l-links">
            <p>Long Term Goals</p>
        </div>
    </a>
    <a href="/mhealth">
        <div class="m-links">
            <p>Mental Health Goals</p>
        </div>
    </a>
    <a href="/phealth">
        <div class="p-links">
            <p>Physical Goals</p>
        </div>
    </a>
    <a href="/logout">
        <div class="l-logout">
            <p>Log Out</p>
        </div>
    </a>

</div>


    
</body>

</html>
